@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

.logo{
    position: absolute !important;
    left: 15%;
}

.logo2{
    position: absolute !important;
    left: 15%;
    margin-top: 4%;
}
.banner{;
    height: 600px;
    background-color: hsl(256, 26%, 20%);
}

.navbar-nav{
    position: relative;
    right: 15%;
}

.pattern-right{
    float: right;
    position: relative;
}

.pattern-left{
    float: left;
    position: absolute;
    top: 42%;
}

.pattern-bottom{
    float: right;
    position: absolute;
    left: 62.4%;
}

.body-text{
    font-family: 'DM Serif Display', serif;
    color: hsl(270, 9%, 17%);
    font-size: 3.5rem !important;
    margin-top: 4%;
    position: relative;
    left: -13%;
}

.body-p{
    font-family: 'Karla', sans-serif;
    color: hsl(270, 9%, 17%);
    text-align: justify;
    margin-left: 0%;
    margin-right: 20%;
    opacity: 50%;
    font-size: 16px;
}

.hr-body-text{
    color: hsl(270, 9%, 17%) !important;
    width: 10%;
    border-style: solid;
    border-width: 3px !important;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-top: 10%;
    margin-left: 15%;
}

.image-intro{
    position: relative;
    float: left;
    right: -45%;
    top: -50%;
    size: 50px;
}
#navbarNav{
    font-family: 'Karla', sans-serif !important;
}
#viewplans2{
    font-family: 'Karla', sans-serif;
    left: 15% !important; 
    position: absolute;
}

#bottom-button{
    font-family: 'Karla', sans-serif;
    position: absolute;
    right: 20%;
    bottom: -57%;
}

.row{
    margin-left: 15% !important;
    margin-right: 15% !important;
}

.lower-page{
    background-color: hsl(256, 26%, 20%);
    height: 250px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    padding-bottom: 200px;
}

.lower-page-h1{ 
    font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 4rem !important;
    margin-left: 10%;
    margin-right: 45%;
    padding-top: 4%;
}

.hr-anchor{
    width: 70%;
    border-style: solid;
    color: black;
    border-width: 1.5px !important;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-top: -4% !important; 
}

h2{
    font-family: 'DM Serif Display', serif;
    color: hsl(270, 9%, 17%);

}

.banner-h1{ 
    font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 4rem !important;
    margin-left: 15%;
    margin-right: 60%;
    padding-top: 140px;
    text-align: justify;
    line-height: 1;
}

.banner-p{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 16px;
    margin-left: 15%;
    margin-right: 60%;
    text-align: justify;
    opacity: 70%;
}

.anchor{
    background-color:   #f2f2f2;
    height: 500px;
    margin-top: 200px;
}

.upper-anchor{
    display: flex;
}

.social-media{
    margin-top: 4%;
    margin-left: 51% !important;
}

a{
    font-family: 'Karla', sans-serif;
    color: hsl(270, 9%, 17%) !important;
    font-size: 16px;
    line-height: 2;
    font-weight: 700;
}

.middle-anchor{
    opacity: 50%;
}